BASE_URL=https://www.greencity.cx.ua
API_USER_BASE_URL=https://greencity-user.greencity.cx.ua
API_GREENCITY_BASE_URL=https://greencity.greencity.cx.ua
HEADLESS=false
USER_EMAIL=test@test.com
USER_PASSWORD=password123!
USER_ID=999
USER_NAME=TestUser
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=adminPassword123!
EMPLOYEE_EMAIL=employee@test.com
EMPLOYEE_PASSWORD=employeePassword123!
MODERATOR_EMAIL=moderator@test.com
MODERATOR_PASSWORD=moderatorPassword123!
SHORT_TIMEOUT=5000
MEDIUM_TIMEOUT=10000
LONG_TIMEOUT=30000
